@import "tailwindcss";

@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Force the background to match your zinc-950 */
    -webkit-box-shadow: 0 0 0 1000px #09090b inset !important;
    /* Force the text color to white */
    -webkit-text-fill-color: white !important;
    /* Delay the background color change infinitely (Failsafe) */
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* 1. Define your custom fonts */
@font-face {
  font-family: "Lausanne";
  /* Change ../ to ./ */
  src: url("./assets/TWKLausanne-250.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Lausanne";
  src: url("./assets/TWKLausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lausanne";
  src: url("./assets/TWKLausanne-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 2. Override Tailwind v4's default sans font */
@theme {
  --font-sans: "Lausanne", ui-sans-serif, system-ui, sans-serif;
}

/* 3. Apply it to the body as a fallback (optional but recommended) */
body {
  font-family: var(--font-sans);
  cursor: none;
}

a,
button {
  cursor: none;
}